@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 17% 94%;
    --secondary-foreground: 224 71% 4%;
    --muted: 210 17% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 188 78% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 17% 90%;
    --input: 210 17% 90%;
    --ring: 211 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 211 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 17% 94%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 210 17% 90%;
    --sidebar-ring: 211 100% 50%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 17% 98%;
    --card: 224 71% 6%;
    --card-foreground: 210 17% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 17% 98%;
    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 71% 8%;
    --secondary-foreground: 210 17% 98%;
    --muted: 224 71% 8%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 188 78% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 224 71% 8%;
    --input: 224 71% 8%;
    --ring: 211 100% 50%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 17% 98%;
    --sidebar-primary: 211 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 71% 8%;
    --sidebar-accent-foreground: 210 17% 98%;
    --sidebar-border: 224 71% 8%;
    --sidebar-ring: 211 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
